[submodule "libose"]
	path = libose
	url = https://github.com/0Z3/libose
[submodule "o.se.lined"]
	path = o.se.lined
	url = https://github.com/0Z3/o.se.lined
[submodule "o.se.udp"]
	path = o.se.udp
	url = https://github.com/0Z3/o.se.udp
[submodule "o.se.oscbn"]
	path = o.se.oscbn
	url = https://github.com/0Z3/o.se.oscbn.git
[submodule "o.se.db"]
	path = o.se.db
	url = https://github.com/0Z3/o.se.db
